.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.inner {
  margin: auto;
  padding: 10px;
  width: 400px;
  position: relative;
  top: -100px;
}

.inner > img {
  width: 50%;
  display: block;
}

.btn {
  margin-top: 20px;
}

.reason {
  display: none !important;
}

@media (max-width: 768px) {
  .inner {
    margin: auto;
    padding: 10px;
    width: 380px;
    position: relative;
    top: 200px;
  }
}
